
.socialicons {
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  }

i {
  padding: 0px 10px;
}

.socialicons i:nth-child(1) {
  color: #4867AA;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.socialicons i:nth-child(1):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.socialicons i:nth-child(2) {
  color: #1DA1F2;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.socialicons i:nth-child(2):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.socialicons i:nth-child(3) {
  color: red;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 150ms;
}

.socialicons i:nth-child(3):hover {
  margin-top: -10px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  transform: translate(0, -5);
}
.socialicons i:nth-child(4) {
  color: #0e76a8;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.socialicons i:nth-child(4):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}